  
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
  color: #444444;
  background-color: #f9f9fb;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #616161;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
}

.fs-12{
  font-size: 12px;
}
 

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #0398dc;
  height: 25px;
  font-size: 12px;
  transition: all 0.5s;
  color: #fff;
  padding: 5px 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

#topbar span{font-size:0.75rem;font-weight: 700;}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #03a9f4;
  transition: all 0.5s;
  z-index: 997;
  height: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #f9f9fb;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #f9f9fb
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #106eea;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

#menubar-icons {
  position: relative;
  left: 20%;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#menubar-icons .contact-info i {
  font-style: normal;
  color: #fff;
}

#menubar-icons .contact-info i a,
#menubar-icons .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#menubar-icons .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}
#menubar-icons .fs-13{
  font-size:13px !important;
}
#menubar-icons .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#menubar-icons .social-links a {
  color: rgb(255 255 255 / 100%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
    font-size: 20px;
}

#menubar-icons .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
 
.wrapper {
  max-width: 1920px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 0.75rem;
  position: absolute;
  text-align: center;
  line-height: 30px;
  background: #fff;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 0px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
   display: flex;  
    
}
.carousel .card {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding: 0;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
/* .carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
} */

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .left-image{
    padding: 0;
  }
}
.bg-primary-header{
  background:#0398dc
}
 
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
label{font-size: 13px;}
.f-40{font-size:40px;}
.f-16{font-size: 16px;}
.bi-person-badge-fill::before {
  color: #00a8f4;
}
.f-13{font-size: 13px;}
.f-14{font-size: 14px;}



#menubar-icons .bi{color:#fff}
input[type="text"][disabled]{
background: #ddd;
cursor: default;
}
input[type="text"]{
 
  border-radius: 0;
  background-color: #fff ;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;

}
.bi{color:#8a8a8a  }
section {
  padding: 0px 0 20px 0px;
  overflow: hidden;
}
 

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
  

.ds-pb-0\.5 {
  padding-bottom: 0.125rem;
}
.ds-p-2 {
  padding: 0.5rem;
}

.ds-rounded-xl {
  border-radius: 0.75rem;
}

.ds-h-\[155px\] {
   height: 130px;  
}

.ds-text-compact-xxs {
  font-size: 0.625rem;
  line-height: 1.6;
}

.ds-relative {
  position: relative;
}

.ds-justify-between {
  justify-content: space-between;
}
.ds-items-center {
  align-items: center;
}
.ds-h-8 {
  height: 2rem;
}
.ds-leading-none {
  line-height: 1;
}
.ds-items-start {
  align-items: flex-start;
}
.ds-inline-flex {
  display: inline-flex;
}

.ds-mr-4 {
  margin-right: 1rem;
}
.ds-overflow-ellipsis, .ds-text-ellipsis, .ds-truncate {
  text-overflow: ellipsis;
}
.ds-truncate {
  overflow: hidden;
  white-space: nowrap;
}

.ds-text-raw-red {
  --tw-text-opacity: 1;
  color: red;
}
.ds-leading-5 {
  line-height: 1.25rem;
}

.ds-uppercase {
  text-transform: uppercase;
}
.ds-w-48 {
width: 12rem;
}
.ds-h-48 {
height: 12rem;
}
.ds-ml-auto {
margin-left: auto;
}
.ds-font-bold {
  font-weight: 700;
}
.ds-text-tight-xs {
  font-size: 0.625rem;
  line-height: 1.2;
  color: #000;
}
.ds-border-line {
  
  border-color: #444;
}
.ds-overflow-scroll {
  overflow: scroll;
}
.ds-gap-4 {
  gap: 1rem;
}
.ds-grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}
.ds-border-b, .ds-border-y {
  border-bottom: 1px solid #ddd;
}
.ds-font-medium {
 
color: #444;
 
margin-bottom: 0px;;
}
.ds-table-md tr td:first-child, .ds-table-md tr th:first-child {
  padding-left: 1rem;
  position: sticky;
    top: 0;
    z-index: 999;
    left: 0;
    background: #f7f7f7;
}
 
.ds-bg-raw-black {
     background-color: #000;
}
.ds-mb-4 {
  margin-bottom: 1rem;
}

.ds-text-raw-grey06 {
   color: #eee;
}
.ds-pb-4 {
  padding-bottom: 1rem;
}
.ds-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
 
.ds-table-bordered tbody tr td {
  border-width: 1px;
 
  border-color:#dee2e6;
}
.ds-rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.ds-w-0 {
  width: 0;
}

.ds-table-md tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ds-table-md tr td, .ds-table-md tr th {
  vertical-align: middle;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
 
.ds-flex-grow, .ds-grow {
  flex-grow: 1;
}
.ds-flex-col {
  flex-direction: column;
}
.ds-flex {
  display: flex;
}
 
.ds-mb-2 {
  margin-bottom: 0.5rem;
}
.ds-mt-1 {
  margin-top: 0.25rem;
}

.ds-justify-between {
  justify-content: space-between;
}

.ds-items-center {
  align-items: center;
}

.ds-min-w-0 {
  min-width: 0;
}

.ds-mr-1 {
  margin-right: 0.25rem;
}

.slick-slide img {
  display: block;
}
.ds-mr-2 {
  margin-right: 0.5rem;
}

img, video {
  max-width: 100%;
  height: auto;
}

.ds-capitalize {
  text-transform: capitalize;
}

.ds-text-tight-s {
  font-size:0.75rem;
  line-height: 1.33;
  margin: 10px 0;
}

.ds-text-compact-s {
  font-size: 0.875rem;
  line-height: 1.5;
}
.ds-text-right {
  text-align: right;
}
.ds-whitespace-nowrap {
  white-space: nowrap;
}

.ds-text-compact-xxs {
  font-size: 0.65rem;
  line-height: 1.6;
}
.ds-mr-0\.5 {
  margin-right: 0.125rem;
}

.ds-items-center {
  align-items: center;
}

.slick-slide img {
  display: block;
}
.ds-mr-2 {
  margin-right: 0.5rem;
}

ds-no-tap-higlight{
width:300px;
}
.ds-text-right {
  text-align: right;
}
.ds-whitespace-nowrap {
  white-space: nowrap;
}

.ds-text-compact-xxs {
  font-size: 0.625rem;
  line-height: 1.6;
  padding:0px;
}

.ds-mr-0\.5 {
  margin-right: 0.125rem;
}
.container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:0px;
} 
.fs-16{font-size: 16px;}




.box{
  position: relative;
  min-width: 250px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.ds-text-title-subtle-m {
  font-size: 0.875rem;
  line-height: 1.4;
}
.ds-overflow-x-auto {
  overflow-x: auto;
}
.ds-flex-row {
  flex-direction: row;
}

.ds-bg-no-repeat {
  background-repeat: no-repeat;
}

.ds-bg-center {
  background-position: 50%;
}
.ds-bg-cover {
  background-size: cover;
}

.ds-bg-dark-shade{
  background-color:rgba(0,0,0,0.85);
}

.ds-bg-fill-fade-to-contrast {
  background: var(--color-fill-fade-to-contrast);
}
.ds-backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.top-bar{
  width: 50%;
  height: 4px;
  background: #507bfc;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
}

.fa-check-circle{
  color: #17b667;
}

/* creating heart */
.heart{
  color: rgba(155,155,155);
}
.heart::before{
  content: '\f004';
  font-family: fontawesome;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}
.box .heart-btn:checked ~ .heart::before{
  color:#e41934
}
.heart-btn{
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 1rem;
  display: none;
}


.content img{
  width: 90px;
  height: 90px;
  border-radius:100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content strong{
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}
.content p{
  font-size: 0.9rem;
  color: #7a7a7a;
  margin: 4px 0px 10px 0px;
  cursor: pointer;
}
.content p:hover{
  text-decoration: underline;
}

.btn{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn a i{
  margin-right: 9px;
}
.btn a{
  border-radius: 20px;
  color: #8b8b8b;
  padding: 8px 20px;
  font-size: 0.9rem;
}
.btn a:hover{
  color: #fff;
  box-shadow: 2px 5px 15px rgba(80,123,252,0.05);
  background-color: #507bfc;
  transition: all ease 0.5s;
}

.card {
border: none;
}

.match_info,
.card_title {
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 10px;
}

.team1,
.team2 {
display: flex;
align-items: center;
}

.team1 img,
.team2 img {
height: 50px;
width: 50px;
margin-right: 10px;
}

.card h1 {
font-size: 20px;
}





.vs {
background-color: #c7c6cb;
width: 25px;
height: 25px;
border-radius: 40px;
}
.vs p {
padding: 2px 5px;
color: #808080;
}

.seeDetails {
display: grid;
place-items: center;
}

.seeDetails a {
text-decoration: none;
color: #000;
}

.seeDetails span {
margin: 5px 10px;
}



.tabs {
  background: #fff;
  position: relative;
  margin-bottom: 50px;
}

.tabs > input,
.tabs > span {
  width: 17%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  font-size: 13px;
  font-weight: 500;
}

.tabs > input {
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 99;
}

.tabs > span {
  background: #fff;
  text-align: center;
  overflow: hidden;
}

.tabs > span i,
.tabs > span {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}

.tabs > input:hover + span {
  background: rgba(255,255,255,.1);
}

.tabs > input:checked + span {
  background: #fff;
}

.tabs > input:checked + span,
.tabs > input:hover + span {
  color: #3498DB;
}

#tab-1, #tab-1 + span {
  left: 0%;
  border-left:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#tab-2, #tab-2 + span {
  left: 17%;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2
}

#tab-3, #tab-3 + span {
  left: 34%;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2
}

#tab-4, #tab-4 + span {
  left: 50%;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2
}

#tab-5, #tab-5 + span {
  left: 67%;  
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
   
}
#tab-6, #tab-6 + span {
  left: 83%;   
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#tab-7, #tab-7 + span {
  left: 85%;
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  
}



.tab-content {
padding: 60px 0px 20px;
  width: 100%;
  min-height: 340px;
  background: #f9f9fb;
}

.tab-content section {
  width: 100%;
  display: none;
}

.tab-content section h1 {
  margin-top: 15px;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

#tab-1:checked ~ .tab-content #tab-item-1  {
  display: block;
  /* background: #fff; */
}

#tab-2:checked ~ .tab-content #tab-item-2  {
  display: block;
}

#tab-3:checked ~ .tab-content #tab-item-3  {
  display: block;
}

#tab-4:checked ~ .tab-content #tab-item-4  {
  display: block;
}

#tab-5:checked ~ .tab-content #tab-item-5  {
  display: block;
}

#tab-6:checked ~ .tab-content #tab-item-6  {
  display: block;
}
/* effect-3 */

.effect-3 .line{
  background: #3498DB;
  width: 12%;
  height: 4px;
  position: absolute;
  top:35px;
 
}

#tab-1:checked ~ .line {
left:3% !important;
}

#tab-2:checked ~ .line {
  left: 20%;
}

#tab-3:checked ~ .line {
  left: 37%;
}

#tab-4:checked ~ .line {
  left: 53%;
}

#tab-5:checked ~ .line {
  left: 70%;
}
#tab-6:checked ~ .line {
  left: 86%;
}
#tab-7:checked ~ .line {
  left: 87%;
}

.border-1{
  border:1px solid #f2f2f2;
}

.read-more {
  /* You can update this variable directly in the html by adding a style property to the .read-more element */
  --line-clamp: 3;
padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.read-more__text {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
    margin-top: 20px;
}

.read-more__checkbox {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.read-more__checkbox ~ .read-more__label {
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 700;
  text-decoration: none;
  margin: 0 auto;
  position: relative;
  color: #03A9f4;
  font-size: 13px;
  background: linear-gradient(1deg,hsla(0,0%,100%,0),#ffffff);
  top: -27px;
  width: 100%;
  text-align: center;
  height: 40px;

}

/* Don't forget focus and hover styles for accessibility! */
.read-more__checkbox:focus ~ .read-more__label {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.read-more__checkbox:hover ~ .read-more__label {
  text-decoration: none;
}

.read-more__checkbox ~ .read-more__label::before {
  content: attr(data-read-more);
}

.read-more__checkbox:checked ~ .read-more__label::before {
  content: attr(data-read-less);
}

.read-more__checkbox:checked ~ .read-more__text {
  --line-clamp: none;
  -webkit-line-clamp: var(--line-clamp);
  font-size: 13px;
}

.fs-14{
  font-size: 14px;
}
.ds-table {
  font-size: 0.75rem;
  line-height: 1.33;
}
.ds-text-title-xs{
  font-size: 0.8725rem;
}

.ds-table tr th:first-child {
  text-transform: uppercase;
}
.ds-table-md tr th {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.ds-table-md tr td, .ds-table-md tr th {
  vertical-align: middle;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem 
}
.ds-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ds-ml-4 {
  margin-left: 1rem;
}
.ds-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.ds-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ds-table tr th {
  color:#444;
  font-weight: 400;
   
}
.ds-bg-ui-fill-alternate {
 
  background-color: #f6f7f8;
}
.ds-border-line {
   
  border-color:  #eee;
}
.ds-border-b, .ds-border-y {
  border-bottom-width: 1px;
}
.ds-text-left {
  text-align: left;
}
.\!ds-text-left {
  text-align: left!important;
}
.ds-whitespace-nowrap {
  white-space: nowrap;
}
.ds-text-right {
  text-align: right;
}
.ds-text-left {
  text-align: left;
}
.ds-bg-fill-content-alternate {
  
  background-color:#f6f7f8;
}

 
.ds-overflow-hidden {
  overflow: hidden;
}
.ds-flex-none {
  flex: none;
}
.ds-w-16 {
  width: 4rem;
}
.ds-text-tight-m {
  font-size: 0.875rem;
  line-height: 1.43;
}
.ds-h-16 {
  height: 4rem;
}
.ds-mr-3 {
  margin-right: 0.75rem;
}
.ds-relative {
  position:relative;
}
.ds-inset-0, .ds-inset-x-0 {
  right: 0;
  left: 0;
}
.ds-inset-0 {
  top: 0;
  bottom: 0;
}

.ds-absolute {
  position: absolute;}
.ds-min-w-max-1 {
  min-width: 210px
}
.ds-p-4 {
  padding: 1rem;
}
.ds-flex-row {
  flex-direction: row;
}
.ds-text-title-l {
  font-size: 1.5rem;
  line-height: 1.3;
}
.ds-flex-1 {
  flex: 1 1 0%;
}
@media (min-width: 1024px){
.lg\:ds-grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}}
.ds-grid {
  display: grid;
}
.ds-place-items-center {
  place-items: center;
}
#tab-item-1 h6 {
  font-size: 0.875rem;
  margin-bottom: 0px;
}
.description{
  font-size: 1rem;
}

.view{color: #03A9f4;}

.wrapper-video {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper-video i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-video i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper-video i:first-child{
  left: -22px;
}
.wrapper-video i:last-child{
  right: -22px;
}
.wrapper-video .carousel-video{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-video::-webkit-scrollbar {
  display: none;
}
.carousel-video.no-transition {
  scroll-behavior: auto;
}
.carousel-video.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-video.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel-video :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-video .card-video {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel-video .card-video .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card-video .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel-video .card-video h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel-video .card-video span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper-video .carousel-video {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper-video .carousel-video {
    grid-auto-columns: 100%;
  }
}
.ds-z-\[2\] {
  z-index: 2;
}
.ds-right-2 {
  right: 0.5rem;
}
.ds-top-2 {
  top: 0.5rem;
}
.ds-text-raw-white {
 
  color: #fff;
}
.ds-absolute {
  position: absolute;
}
.ds-image-video-icon, .ds-image-video-icon:focus, .ds-image-video-icon:hover {
  background: linear-gradient(210deg,#05c7f6,#0569ff);
}
.ds-rounded-full {
  border-radius: 9999px;
}
.ds-bg-raw-black\/50 {
  background-color: #000;
}
.ds-rounded-xl {
  border-radius: 0.75rem;
}
.ds-rounded-\[100px\] {
  border-radius: 100px;
}
.ds-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.ds-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ds-uppercase {
  text-transform: uppercase;
}
.ds-text-eyebrow-xs {
  font-size: 0.625rem;
  line-height: 1.4;
}
.ds-gap-4 {
  gap: 1rem;
}
.ds-z-\[2\] {
  z-index: 2;
}
.ds-bottom-2 {
  bottom: 0.5rem;
}
.ds-left-2 {
  left: 0.5rem;
}
ds-flex-wrap {
  flex-wrap: wrap;
}
.ds-text-compact-xs {
  font-size: 0.75rem;
  line-height: 1.5;
}

@media (min-width: 1024px){
.lg\:ds-grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
}}
.ds-text-center {
    text-align: center;
}

.ds-gap-2 {
    gap: 0.5rem;
}
.ds-cursor-pointer {
  cursor: pointer;
}
.ds-inline-block {
  display: inline-block;
}
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #fff;
  position: fixed;
  bottom:0;
  width: 100%;
  font-size: 14px;
  z-index: 999;
  height:40px;
 
}
.register-btn{height:20px;margin:10px 0;}
input.title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #fff;
  padding: 8px 0px;
}

.input:hover{
  /*border:1px dashed #999;*/
  transition: border .2s ease-in;
}

.input:focus{
    background-color: #f1f1f1;
    border-bottom:1px solid #999;
    transition: border .2s ease-in;
    outline: 0;
    padding-left:10px;
}

 
#footer .footer-newsletter {
 
  background: #000;
  text-align: center;
  font-size: 15px;
}


.copyright-area{
  max-width: 1280px;
    margin: 0 auto;
  padding: 10px;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
   
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.text-gray{color:gray}

@media (min-width: 1024px){
.masonry-grid {
    margin-left: -16px;
}}
@media (min-width: 768px){
.masonry-grid {
    margin-left: -8px;
}}
.masonry-grid {
    display: flex;
    width: auto;
}
.ds-table-md tr td:last-child, .ds-table-md tr th:last-child {
    padding-right: 1rem;
}

@media (min-width: 1024px){
.lg\:ds-grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));}
}
@media (min-width: 576px){
.masonry-grid .masonry-grid-column {
    width: 100%!important;
}}
@media (min-width: 1024px){
.masonry-grid-column {
    padding-left: 16px;
}}
.masonry-grid {
  display: flex;
  width: auto;
}
#two,#three,#four strong {font-size:16px;}

#two,#three,#four p {font-size:16px; }

  p   {margin-bottom:0px; }
b, strong {
  font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
}
.ds-text-title-m{
  font-size: 1.25rem;
  line-height: 1.3;
}
.ds-bg-fill-canvas{
background-color: rgb(249 249 251 / 100%);
}
 
@media (min-width: 1024px){
.lg\:ds-w-2\/12 {
    width: 16.666667%;
}}

@media (min-width: 1024px){
.lg\:ds-w-9\/12 {
    width: 75%;
}}

@media (min-width: 1024px){
.lg\:ds-w-1\/12 {
    width: 8.333333%;
}}
.ds-justify-end {
    justify-content: flex-end;
}
.faq-drawer {
  margin-bottom: 20px !important;
  background: #fff;
  border-radius: 10px;
  padding: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  background: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
  padding: 15px 0 15px 35px;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 8px;
    left: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 8px;
    border-radius: 2px 2px 0 0;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover { 
  color: #4E4B52  ;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 100%;
  border-radius: 10px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}


.bi-chevron-right::before {
  color:#626262}

  .ds-scrollbar-hide {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.ds-font-medium {
  font-family: BentonSans-Medium, Arial, Noto Sans, sans-serif;
}
.ds-font-medium {
  font-weight: 500;
}

.left-wrapper .accordion-button:not(.collapsed){
  color: #0098dc !important;
  background-color: #f0f0f0 !important;

}
.left-wrapper .accordion-button:focus {
  z-index: 3;
  /* border-color: #00a8f4; */
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ececec;
}
.left-wrapper .accordion-body,.left-wrapper .accordion-button {padding:10px}


.form-box{
  position: relative;
}
.btn-custom {
  width: 100px !important;
  background-color: #03A9f4 !important;
  color: whitesmoke !important;
  margin-left: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-left: 10px; 
}

.btn-custom:hover {
  filter: brightness(95%) !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto; 
  width: 100%;
}

.form-heading{
  font-size: 30px;
  /* margin: 0;
  padding: 0;
  line-height: 1; */
  color:#03A9f4;
  font-weight: 300;
  letter-spacing: 0.8px;
  }
