   
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
  color: #444444;
 
  background: url("https://digicrick.github.io/crickdigi/images/hero-bg.png") top center no-repeat;
    background-size: cover;
  
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #616161;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
}
.check-z{position:relative;z-index:99}
.digi-btn-save,.digi-btn-cancel{width:80px;}
.left-nav-h,.right-nav-h{
  font-size: 1.25rem;
  color:#000;
}

.left-nav-sub-h,.right-nav-sub-h{
  font-size: 1rem;
  color:#000;
}

.digi-btn-primary {
    background-color: rgb(0 152 220) !important;
    color: #fff;
}
.digi-btn-save:hover{
  color:#fff;
  background-color:rgb(0 135 196);
}

.digi-btn-cancel:hover {
  color: #fff;
  background-color:#5c636a;
  border-color: #565e64;
}
.ds-bg-center {
  background-position: 50%;
}
.ds-bg-raw-black {
  background-color: rgba(0 0 0 .85);
}
 
/*
 *  STYLE 1
 */

 ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:5px;
	background-color: #F5F5F5;
}

 ::-webkit-scrollbar
{
  height: 8px;
	width: 8px;
	background-color: #F5F5F5;
}

 ::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
 

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #0398dc;
  height: 25px;
  font-size: 12px;
  transition: all 0.5s;
  color: #fff;
  padding: 5px 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

#topbar span, #topbar a{font-size:0.75rem;font-weight: 700;}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #03a9f4;
  transition: all 0.5s;
  z-index: 9999;
  margin-bottom: 5px;
  height: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 2rem;
  margin: 0;
  padding: 5px ;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
   
}
#header .logo div{
  margin:10px 0 0 0;
}
#header .logo a {
  color: #fff;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

 /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: #fff;
    font-size: 0.875rem;
    padding: 0 2px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color:rgba(53, 37, 41, 0.03);;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus ,.navmenu>ul>li:hover{
    color: #fff;
    background:rgb(0 152 220);
    cursor: pointer;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: #fff;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 0px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color:#000;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: #fff;
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: #000;
    font-size: 2rem;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navmenu a,
  .navmenu a:focus {
    color: #000;
    padding: 10px 20px;
    font-size: 0.725rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: rgba(33, 37, 41, 0.03);;
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    color: #03a9f4;
    background: #e9f7ff;
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: #03a9f4;
    background: #e9f7ff;
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color:rgba(33, 37, 41, 0.03);
    color: #000;
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 0px 0;
    margin: 10px 20px;
    background-color:#fff;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}


#menubar-icons {
  position: relative;
  left: 20%;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#menubar-icons .contact-info i {
  font-style: normal;
  color: #fff;
}

#menubar-icons .contact-info i a,
#menubar-icons .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#menubar-icons .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}
#menubar-icons .fs-13{
  font-size:13px !important;
}
#menubar-icons .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#menubar-icons .social-links a {
  color: rgb(255 255 255 / 100%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
    font-size: 20px;
}

#menubar-icons .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
 
.wrapper {
  max-width: 1920px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 0.75rem;
  position: absolute;
  text-align: center;
  line-height: 30px;
  background: #fff;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left:-30px;
}
.wrapper i:last-child{
  right: -30px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 0px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
   display: flex;  
    
}
.carousel .card {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding: 0;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
/* .carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
} */

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .left-image{
    padding: 0;
    height:100% !important;
  }
}
.bg-primary-header{
  background:#0398dc
}

.event-trial ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding:5px;
  text-decoration: none;
  z-index: 1;
  background: linear-gradient(to right bottom, #fff 52%, #F0F9FB 48%);
  transition: .5s;
  cursor:auto;
}

 .event-trial ul li {
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  position: relative;
}
.event-trial ul li a .t-shirt {
  /*background-image: url(../images/destination.png);
  background-repeat: no-repeat;
  height: 129px;
  width: 119px;*/
  background-repeat: no-repeat;
  text-align: right;
  color: #ffae35;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 600;
  position: absolute;
  top: 48px;
  z-index: -1;
  transition: .5s;
  right: 9px;
}
.event-trial ul li a .player-type {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 55px;
  background-color: #d7eff4;
  border: 1px solid #e6f2f4;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}
.event-trial ul li a .player-type div {
  text-align: center;
  /*color: #313131;*/
  border-right: 1px solid #b6cdd1;
}
.event-trial ul li a .player-type div:hover{
  color:#0398dc;
  padding: 0px;
}

.event-trial ul li a .player-type span {
  font-weight: 300;
}
.event-trial ul li a .player-type div p {
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: .96px;
  font-size: 12px;
}

.event-trial ul li a .player-pik {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #def4ff;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  transition: .5s;
}
.event-trial ul li .diagonal-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: .1;
}

.event-trial ul li a:hover {
  background: linear-gradient(to right bottom, #fff 52%, #133F7E 48%);
  transition: .5s;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/*.h-100vh{height: 100vh;}*/


#menubar-icons .bi{color:#fff}
input[type="text"][disabled]{
background: #ddd;
cursor: default;
}

.bi{color:#1a8754  }
section {
  padding: 0px 0 20px 0px;
  overflow: hidden;
}
 

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
  

.ds-pb-0\.5 {
  padding-bottom: 0.125rem;
}
.ds-p-2 {
  padding: 0.5rem;
}

.ds-rounded-xl {
  border-radius: 0.75rem;
}

.ds-h-\[155px\] {
   height: 150px;  
}

.ds-text-compact-xxs {
  font-size: 0.625rem;
  line-height: 1.6;
}

.ds-relative {
  position: relative;
}

.ds-justify-between {
  justify-content: space-between;
}
.ds-items-center {
  align-items: center;
}
.ds-h-8 {
  height: 2rem;
}
.ds-leading-none {
  line-height: 1;
}
.ds-items-start {
  align-items: flex-start;
}
.ds-inline-flex {
  display: inline-flex;
}

.ds-mr-4 {
  margin-right: 1rem;
}
.ds-overflow-ellipsis, .ds-text-ellipsis, .ds-truncate {
  text-overflow: ellipsis;
}
.ds-truncate {
  overflow: hidden;
  white-space: nowrap;
}

.ds-text-raw-red {
  --tw-text-opacity: 1;
  color: red;
}
.ds-leading-5 {
  line-height: 1.25rem;
}

.ds-uppercase {
  text-transform: uppercase;
}
.ds-mx-1{
  margin-right: .25rem !important;
  margin-left: .25rem !important;
}

.ds-w-48 {
width: 7rem;
}
.ds-h-48 {
height: 7rem;
}
.ds-ml-auto {
margin-left: auto;
}
.ds-font-bold {
  font-weight: 700;
}
.ds-text-tight-xs {
  font-size: 0.625rem;
  line-height: 1.2;
  color: #000;
}
.ds-border-line {
  
  border-color: #444;
}
.ds-overflow-scroll {
  overflow: scroll;
}
.ds-gap-4 {
  gap: 1rem;
}
.ds-grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}
.ds-border-b, .ds-border-y {
  border-bottom: 1px solid #ddd;
}
.ds-font-medium {
 
color: #444;
 
margin-bottom: 0px;;
}
.ds-table-md tr td:first-child, .ds-table-md tr th:first-child {
  padding-left: 1rem;
  position: sticky;
    top: 0;
    z-index: 999;
    left: 0;
    background: #f7f7f7;
}
 
.ds-bg-raw-black {
     background-color: #000;
}
.ds-mb-4 {
  margin-bottom: 1rem;
}

.ds-text-raw-grey06 {
   color: #eee;
}
.ds-pb-4 {
  padding-bottom: 1rem;
}
.ds-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
 
.ds-table-bordered tbody tr td {
  border-width: 1px;
 
  border-color:#dee2e6;
}
.ds-rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.ds-w-0 {
  width: 0;
}

.ds-table-md tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ds-table-md tr td, .ds-table-md tr th {
  vertical-align: middle;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
 
.ds-flex-grow, .ds-grow {
  flex-grow: 1;
}
.ds-flex-col {
  flex-direction: column;
}
.ds-flex {
  display: flex;
}
 
.ds-mb-2 {
  margin-bottom: 0.5rem;
}
.ds-mt-1 {
  margin-top: 0.25rem;
}

.ds-justify-between {
  justify-content: space-between;
}

.ds-items-center {
  align-items: center;
}

.ds-min-w-0 {
  min-width: 0;
}

.ds-mr-1 {
  margin-right: 0.25rem;
}

.slick-slide img {
  display: block;
}
.ds-mr-2 {
  margin-right: 0.5rem;
}

img, video {
  max-width: 100%;
  height: auto;
}

.ds-capitalize {
  text-transform: capitalize;
}

.ds-text-tight-s {
  font-size:0.75rem;
  line-height: 1.33;
  margin: 10px 0;
}

.ds-text-compact-s {
  font-size: 0.875rem;
  line-height: 1.5;
}
.ds-text-right {
  text-align: right;
}
.ds-whitespace-nowrap {
  white-space: nowrap;
}

.ds-text-compact-xxs {
  font-size: 0.65rem;
  line-height: 1.6;
}
.ds-mr-0\.5 {
  margin-right: 0.125rem;
}

.ds-items-center {
  align-items: center;
}

.slick-slide img {
  display: block;
}
.ds-mr-2 {
  margin-right: 0.5rem;
}

ds-no-tap-higlight{
width:300px;
}
.ds-text-right {
  text-align: right;
}
.ds-whitespace-nowrap {
  white-space: nowrap;
}

.ds-text-compact-xxs {
  font-size: 0.625rem;
  line-height: 1.6;
  padding:0px;
}

.ds-mr-0\.5 {
  margin-right: 0.125rem;
}
.container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:0px;
} 
.fs-16{font-size: 16px;}




.box{
  position: relative;
  min-width: 145px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 10px 10px ;
  position: relative;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.ds-text-title-subtle-m {
  font-size: 0.875rem;
  line-height: 1.4;
}
.ds-overflow-x-auto {
  overflow-x: auto;
}
.ds-flex-row {
  flex-direction: row;
}

.ds-bg-no-repeat {
  background-repeat: no-repeat;
}

.ds-bg-center {
  background-position: 50%;
}
.ds-bg-cover {
  background-size: cover;
}

.ds-bg-dark-shade{
  background-color:rgba(0,0,0,0.85);
}

.ds-bg-fill-fade-to-contrast {
  background: var(--color-fill-fade-to-contrast);
}
.ds-backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.top-bar{
  width: 50%;
  height: 4px;
  background: #f57803f7;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
}

.fa-check-circle{
  color: #17b667;
}

/* creating heart */
.heart{
  color: rgba(155,155,155);
}
.heart::before{
  content: '\f004';
  font-family: fontawesome;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}
.box .heart-btn:checked ~ .heart::before{
  color:#e41934
}
.heart-btn{
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 1rem;
  display: none;
}


.content img{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  border: 4px solid #d7eefe;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content strong{
  font-weight: 500;
  color: #141414;
  margin-top: 0px;
}
.content p{
  font-size: 1.25rem;
    color: #1a8754;
    /* margin: 4px 0px 10px 0px; */
    cursor: pointer;
    font-weight:600;
}
.content p:hover{
  text-decoration: underline;
}
/*
.btn{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn a i{
  margin-right: 9px;
}
.btn a{
  border-radius: 20px;
  color: #8b8b8b;
  padding: 8px 20px;
  font-size: 0.9rem;
}
.btn a:hover{
  color: #fff;
  box-shadow: 2px 5px 15px rgba(80,123,252,0.05);
  background-color: #507bfc;
  transition: all ease 0.5s;
}*/

.card {
border: none;
}

.match_info,
.card_title {
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 10px;
}

.team1,
.team2 {
display: flex;
align-items: center;
}

.team1 img,
.team2 img {
height: 50px;
width: 50px;
margin-right: 10px;
}

.card h1 {
font-size: 20px;
}





.vs {
background-color: #c7c6cb;
width: 25px;
height: 25px;
border-radius: 40px;
}
.vs p {
padding: 2px 5px;
color: #808080;
}

.seeDetails {
display: grid;
place-items: center;
}

.seeDetails a {
text-decoration: none;
color: #000;
}

.seeDetails span {
margin: 5px 10px;
}



.tabs {
  background: #fff;
  position: relative;
  margin-bottom: 50px;
}

.tabs > input,
.tabs > span {
  width: 17%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  font-size: 13px;
  font-weight: 500;
}

.tabs > input {
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 99;
}

.tabs > span {
  background: #fff;
  text-align: center;
  overflow: hidden;
}

.tabs > span i,
.tabs > span {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}

.tabs > input:hover + span {
  background: rgba(255,255,255,.1);
}

.tabs > input:checked + span {
  background: #fff;
}

.tabs > input:checked + span,
.tabs > input:hover + span {
  color: #3498DB;
}

#tab-1, #tab-1 + span {
  left: 0%;
  border-left:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#tab-2, #tab-2 + span {
  left: 17%;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2
}

#tab-3, #tab-3 + span {
  left: 34%;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2
}

#tab-4, #tab-4 + span {
  left: 50%;
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2
}

#tab-5, #tab-5 + span {
  left: 67%;  
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
   
}
#tab-6, #tab-6 + span {
  left: 83%;   
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#tab-7, #tab-7 + span {
  left: 85%;
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  border-top:1px solid #f2f2f2;
  
}



.tab-content {
padding: 60px 0px 20px;
  width: 100%;
  min-height: 340px;
  background: #f9f9fb;
}

.tab-content section {
  width: 100%;
  display: none;
}

.tab-content section h1 {
  margin-top: 15px;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

#tab-1:checked ~ .tab-content #tab-item-1  {
  display: block;
  /* background: #fff; */
}

#tab-2:checked ~ .tab-content #tab-item-2  {
  display: block;
}

#tab-3:checked ~ .tab-content #tab-item-3  {
  display: block;
}

#tab-4:checked ~ .tab-content #tab-item-4  {
  display: block;
}

#tab-5:checked ~ .tab-content #tab-item-5  {
  display: block;
}

#tab-6:checked ~ .tab-content #tab-item-6  {
  display: block;
}
/* effect-3 */

.effect-3 .line{
  background: #3498DB;
  width: 12%;
  height: 4px;
  position: absolute;
  top:35px;
 
}

#tab-1:checked ~ .line {
left:3% !important;
}

#tab-2:checked ~ .line {
  left: 20%;
}

#tab-3:checked ~ .line {
  left: 37%;
}

#tab-4:checked ~ .line {
  left: 53%;
}

#tab-5:checked ~ .line {
  left: 70%;
}
#tab-6:checked ~ .line {
  left: 86%;
}
#tab-7:checked ~ .line {
  left: 87%;
}

.border-1{
  border:1px solid #f2f2f2;
}

.read-more {
  /* You can update this variable directly in the html by adding a style property to the .read-more element */
  --line-clamp: 3;
padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.read-more__text {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
    margin-top: 20px;
}

.read-more__checkbox {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.read-more__checkbox ~ .read-more__label {
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 700;
  text-decoration: none;
  margin: 0 auto;
  position: relative;
  color: #03A9f4;
  font-size: 13px;
  background: linear-gradient(1deg,hsla(0,0%,100%,0),#ffffff);
  top: -27px;
  width: 100%;
  text-align: center;
  height: 40px;

}

/* Don't forget focus and hover styles for accessibility! */
.read-more__checkbox:focus ~ .read-more__label {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.read-more__checkbox:hover ~ .read-more__label {
  text-decoration: none;
}

.read-more__checkbox ~ .read-more__label::before {
  content: attr(data-read-more);
}

.read-more__checkbox:checked ~ .read-more__label::before {
  content: attr(data-read-less);
}

.read-more__checkbox:checked ~ .read-more__text {
  --line-clamp: none;
  -webkit-line-clamp: var(--line-clamp);
  font-size: 13px;
}

.fs-14{
  font-size: 14px;
}
.ds-table {
  font-size: 0.75rem;
  line-height: 1.33;
}
.ds-text-title-xs{
  font-size: 0.8725rem;
}

.ds-table tr th:first-child {
  text-transform: uppercase;
}
.ds-table-md tr th {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.ds-table-md tr td, .ds-table-md tr th {
  vertical-align: middle;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem 
}
.ds-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ds-ml-4 {
  margin-left: 1rem;
}
.ds-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.ds-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ds-table tr th {
  color:#444;
  font-weight: 400;
   
}
.ds-bg-ui-fill-alternate {
 
  background-color: #f6f7f8;
}
.ds-border-line {
   
  border-color:  #eee;
}
.ds-border-b, .ds-border-y {
  border-bottom-width: 1px;
}
.ds-text-left {
  text-align: left;
}
.\!ds-text-left {
  text-align: left!important;
}
.ds-whitespace-nowrap {
  white-space: nowrap;
}
.ds-text-right {
  text-align: right;
}
.ds-text-left {
  text-align: left;
}
.ds-bg-fill-content-alternate {
  
  background-color:#f6f7f8;
}

 
.ds-overflow-hidden {
  overflow: hidden;
}
.ds-flex-none {
  flex: none;
}
.ds-w-16 {
  width: 4rem;
}
.ds-text-tight-m {
  font-size: 0.875rem;
  line-height: 1.43;
}
.ds-h-16 {
  height: 4rem;
}
.ds-mr-3 {
  margin-right: 0.75rem;
}
.ds-relative {
  position:relative;
}
.ds-inset-0, .ds-inset-x-0 {
  right: 0;
  left: 0;
}
.ds-inset-0 {
  top: 0;
  bottom: 0;
}

.ds-absolute {
  position: absolute;}
.ds-min-w-max-1 {
  min-width: 210px
}
.ds-p-4 {
  padding: 1rem;
}
.ds-flex-row {
  flex-direction: row;
}
.ds-text-title-l {
  font-size: 1.5rem;
  line-height: 1.3;
}
.ds-flex-1 {
  flex: 1 1 0%;
}
@media (min-width: 1024px){
.lg\:ds-grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}}
.ds-grid {
  display: grid;
}
.ds-place-items-center {
  place-items: center;
}
#tab-item-1 h6 {
  font-size: 0.875rem;
  margin-bottom: 0px;
}
.description{
  font-size: 1rem;
}

.view{color: #03A9f4;}

.wrapper-video {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper-video i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-video i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper-video i:first-child{
  left: -22px;
}
.wrapper-video i:last-child{
  right: -22px;
}
.wrapper-video .carousel-video{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-video::-webkit-scrollbar {
  display: none;
}
.carousel-video.no-transition {
  scroll-behavior: auto;
}
.carousel-video.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-video.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel-video :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-video .card-video {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel-video .card-video .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card-video .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel-video .card-video h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel-video .card-video span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper-video .carousel-video {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper-video .carousel-video {
    grid-auto-columns: 100%;
  }
}
.ds-z-\[2\] {
  z-index: 2;
}
.ds-right-2 {
  right: 0.5rem;
}
.ds-top-2 {
  top: 0.5rem;
}
.ds-text-raw-white {
 
  color: #fff;
}
.ds-absolute {
  position: absolute;
}
.ds-image-video-icon, .ds-image-video-icon:focus, .ds-image-video-icon:hover {
  background: linear-gradient(210deg,#05c7f6,#0569ff);
}
.ds-rounded-full {
  border-radius: 9999px;
}
.ds-bg-raw-black\/50 {
  background-color: #000;
}
.ds-rounded-xl {
  border-radius: 0.75rem;
}
.ds-rounded-\[100px\] {
  border-radius: 100px;
}
.ds-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.ds-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ds-uppercase {
  text-transform: uppercase;
}
.ds-text-eyebrow-xs {
  font-size: 0.625rem;
  line-height: 1.4;
}
.ds-gap-4 {
  gap: 1rem;
}
.ds-z-\[2\] {
  z-index: 2;
}
.ds-bottom-2 {
  bottom: 0.5rem;
}
.ds-left-2 {
  left: 0.5rem;
}
ds-flex-wrap {
  flex-wrap: wrap;
}
.ds-text-compact-xs {
  font-size: 0.75rem;
  line-height: 1.5;
}

@media (min-width: 1024px){
.lg\:ds-grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
}}
.ds-text-center {
    text-align: center;
}
 
.ds-cursor-pointer {
  cursor: pointer;
}
.ds-inline-block {
  display: inline-block;
}
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #fff;
  position: fixed;
  bottom:0;
  width: 100%;
  font-size: 14px;
  z-index: 999;
  height:40px;
 
}
.register-btn{height:20px;margin:10px 0;}
input.title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #fff;
  padding: 8px 0px;
}

.input:hover{
  /*border:1px dashed #999;*/
  transition: border .2s ease-in;
}
/*input[type="checkbox"] {
  display: none;
}*/

.input:focus{
    background-color: #f1f1f1;
    border-bottom:1px solid #999;
    transition: border .2s ease-in;
    outline: 0;
    padding-left:10px;
}

 
#footer .footer-newsletter {
 
  background: #000;
  text-align: center;
  font-size: 15px;
}


.copyright-area{
  max-width: 1280px;
    margin: 0 auto;
  padding: 10px;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
   
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.text-gray{color:gray}

@media (min-width: 1024px){
.masonry-grid {
    margin-left: -16px;
}}
@media (min-width: 768px){
.masonry-grid {
    margin-left: -8px;
}}
.masonry-grid {
    display: flex;
    width: auto;
}
.ds-table-md tr td:last-child, .ds-table-md tr th:last-child {
    padding-right: 1rem;
}

@media (min-width: 1024px){
.lg\:ds-grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));}
}
@media (min-width: 576px){
.masonry-grid .masonry-grid-column {
    width: 100%!important;
}}
@media (min-width: 1024px){
.masonry-grid-column {
    padding-left: 16px;
}}
.masonry-grid {
  display: flex;
  width: auto;
}
#two,#three,#four strong {font-size:16px;}

#two,#three,#four p {font-size:16px; }

  p   {margin-bottom:0px; }
b, strong {
  font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
}
.ds-text-title-m{
  font-size: 1.25rem;
  line-height: 1.3;
}
.ds-bg-fill-canvas{
background-color: rgb(249 249 251 / 100%);
}
 
@media (min-width: 1024px){
.lg\:ds-w-2\/12 {
    width: 16.666667%;
}}

@media (min-width: 1024px){
.lg\:ds-w-9\/12 {
    width: 75%;
}}

@media (min-width: 1024px){
.lg\:ds-w-1\/12 {
    width: 8.333333%;
}}
.ds-justify-end {
    justify-content: flex-end;
}
.faq-drawer {
  margin-bottom: 20px !important;
  background: #fff;
  border-radius: 10px;
  padding: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  background: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
  padding: 15px 0 15px 35px;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
  border-style: solid;
    border-width: 2px 2px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 8px;
    left: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 8px;
    border-radius: 2px 2px 0 0;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover { 
  color: #4E4B52  ;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 100%;
  border-radius: 10px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

.faq-drawer input[type="checkbox"] {
  display: none;
}
ˇ.items ul li {list-style:none!important;
  list-style-type:none!important;}

.bi-chevron-right::before {
  color:#626262}

  .ds-scrollbar-hide {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.ds-text-title-xl{
    font-size: 1.75rem;
    line-height: 1.3;
}

 
.ds-font-medium {
  font-family: BentonSans-Medium, Arial, Noto Sans, sans-serif;
}
.ds-font-medium {
  font-weight: 500;
}

 /*Trial Details */
.left-wrapper .accordion-button:not(.collapsed),.trial-accordion .accordion-button:not(.collapsed){
  color: #000000 !important;
    /* background-color: #f0f0f0 !important; */
    background-color: rgb(215 238 254);
    font-size: 0.875rem;
    padding: 10px;
}
.left-wrapper .accordion-button:focus,.trial-accordion .accordion-button:focus {
  z-index: 3;
  /* border-color: #00a8f4; */
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ececec;
}
.left-wrapper .accordion-body,.left-wrapper .accordion-button {padding:10px}


.ds-bg-raw-dark-blue\/20 {
  background-color: rgba(57,100,208, .2);
}
.ds-items-baseline {
  align-items: baseline;
}
.ds-rounded-xl {
  border-radius: .75rem;
}
.ds-bg-raw-dark-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(56 100 208);
}
.ds-w-12 {
  width: 3rem;
}
.ds-w-10 {
  width: 3.5rem;
}
.ds-h-12 {
  height: 3rem;
}
.ds-h-10 {
  height: 3.5rem;
}
.ds-gap-2 {
    gap: 0.5rem;
}
.ds-rounded-full {
  border-radius: 9999px;
}

.w-15{width:15%}
.card-image-box  {
  padding:0px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  /*height: 100%;*/
  width: 100%;

}
.panel-info {
  border-color: #bce8f1;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-info>.panel-heading {
  color: #212529;
    background-color: rgb(215 238 254);
    
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-body {
  padding: 15px;
}
.trial-accordion .nav-link{color:#212529;font-size: 0.875rem;padding:15px;}
.trial-accordion .nav-tabs .nav-link.active{color:#00a8f4;border-bottom: 4px solid #00a8f4;font-size: 0.875rem;}
.trial-accordion .nav-tabs .nav-link{border:none}


.comments{
	width: 100%;
	height: 150px;
	margin: 0;
	background-color: #f7f7f7;
	 box-shadow: 0px 1px 2px rgba(50, 50, 50, .1), 
		0px 2px 4px rgba(60, 60, 60, 0.1);
	border-radius: 5px;
	padding: 10px;
}


 
.trialdetails .info-card {
  padding-bottom: 10px;
}
.trialdetails .card {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.trialdetails .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.trialdetails .card-body {
  padding: 0 10px 10px 10px;
  height:155px;
}

.trialdetails .card-small{
height:70px;
}
.trialdetails .card-title {
  padding: 10px 0 5px 0;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.trialdetails .i-icon{
    
  width: 16px;
  height: 16px;
}
.trialdetails .card-icon {
  font-size: 2rem;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
 
.trialdetails .info-card h6 {
  font-size: 0.875rem;
  color: #000;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.trialdetails .ds-text-compact-l{font-size: 1rem;}

.trialdetails .title-text{color:#838383}

/* Event List */
.match-card.match-card-modify.t20-card {
  border-right-color: #0081bb !important;
  border-right: 8px solid;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.match-card.match-card-modify {
  padding: 5px 0;
  border-radius: 0;
  background-color: #F2F6FF;
  border: 1px solid #616D8E;
  border-left: 8px solid #888888;
}

.match-card-fw.match-card-up {
  border-top: 4px solid #58716F;
}
.match-card-fw.match-card {
  height: auto !important;
}
.match-card.match-card-fw {
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background: #f8f8f8;
  padding: 0;
}
.match-card {
  height: 210px !important;
  width: calc(100% - 0px);
}
.match-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 4px solid #E7E7E7;
  border-radius: 8px;
  color: #000062;
  overflow: hidden;
}
.match-card.match-card-modify .tags-wrap-mob {
  display: none;
}
.match-card.match-card-modify .match-card-top .match-tournament-name, .match-card.match-card-modify .tags-wrap {
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.tags-wrap {
  margin-bottom: 10px;
}

.match-card.match-card-modify .matchOrderText.t20-tag {
  border: 1px solid #0098dc;
  background: #0098dc;
  color: #fff;
}
 
 
.matchOrderText.t20-tag {
  border: 1px solid #133F7E;
  background: rgb(19 63 126 / 40%);
  color: #0b264d;
}
.matchOrderText {
  border-radius: 12px;
  border: 1px solid #C5C5C5;
  color: #696969;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 1px 6px;
}
@media screen and (min-width: 1680px) and (max-width: 3000px) {
  .match-card {
      width: calc(485px - 0px);
  }
}
.match-card.match-card-modify .matchOrderText, .match-card.match-card-modify .teamTypeTag {
  line-height: 18px;
  margin: 0;
}
.match-card.match-card-modify .teamTypeTag {
  border: 0;
  margin-left: 5px;
  background: rgba(255, 199, 168, 0.68);
}
.teamTypeTag {
  border-radius: 12px;
  color: #B96333;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 1px 6px;
  border: 1px solid #B96333;
  background: rgba(255, 199, 168, 0.40);
  margin-left: 10px;
}
#match-live-card .match-info, .match-card-fw .match-info {
  flex-direction: column;
  align-items: flex-start;
}

.match-card.match-card-modify .match-card-top, .match-card.match-card-modify .match-card-middle, .match-card.match-card-modify .match-card-bottom {
  padding: 0.6rem 1rem;
}

.match-card-top .player-event {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #def4ff;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  transition: .5s;
}

.match-card.match-card-modify .match-card-bottom {
  align-items: start;
  gap: 5px;
}
 .match-card-fw .match-card-middle {
  border-image: none;
}
.match-card-top, .match-card-middle, .match-card-bottom {
  z-index: 9;
}
.match-card-middle {
  flex: 0 0 6rem;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(239, 65, 35, 0), rgba(239, 65, 35), rgba(239, 65, 35, 0));
  border-image-slice: 100%;
  border-image-slice: 1;
  padding: 10px 0;
  flex-direction: column;
}
.match-card-modify .match-card-middle__inner {
  padding: 0;
}
.match-card-middle__inner {
  align-items: center;
  padding: 0 0.5rem;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.match-card-modify .match-tm-info {
  gap: 5px;
  align-items: self-start;
}

.match-tm-info {
  display: flex;
  align-items: center;
}
.match-tm-info {
  display: flex;
  align-items: center;
}
.match-card-modify .match-tm-info .team-wrap {
  display: flex;
  align-items: center;
}

.match-card-fw .team-wrap {
  text-align: center;
}
.match-card.match-card-up.match-card-modify .match-tm-info .tm-name {
  font-size: 14px;
  line-height: 18px;
  width: calc(110px - 0px);
}
 
.match-card-fw .match-tm-info.teamLeft .tm-name {
  margin-left: 0;
}
 
.match-tm-info.teamLeft .tm-name {
  margin-right: 0;
}
 
.match-card-modify .match-tm-info.teamLeft .tm-name {
  text-align: right;
}
.match-tm-info.teamRight {
  flex-direction: row-reverse;
}
 

.match-tm-info {
  display: flex;
  align-items: center;
}
 
.match-card-modify .match-tm-info.teamRight .tm-name {
  text-align: left;
}
.match-card-fw .match-tm-info.teamRight .tm-name {
  text-align: center;
  margin-right: 0;
}
.match-tm-info.teamRight .tm-name {
  margin-left: 0;
  text-align: right;
}
.match-tm-info.teamRight .tm-name {
  margin-left: 0;
  text-align: right;
}
@media (min-width: 641px) {
  .tm-code {
      display: none;
  }
}
.tm-name {
  width: calc(110px - 0px);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin: 0 10px;
}
.match-card.match-card-up.match-card-modify .match-coutnry-img {
  width: 65px;
  height: 65px;
}
.match-card-modify .match-tm-info .match-coutnry-img {
  margin: 0 5px;
  width: 75px;
  height: 75px;
}
.match-card-fw .match-coutnry-img {
  margin: 0 auto;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}
.match-coutnry-img {
  overflow: hidden;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.match-coutnry-img {
  width: 55px;
  height: 55px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.match-card.match-card-up.match-card-modify .match-coutnry-img img {
  width: 40px;
}

.match-card-modify .match-tm-info .match-coutnry-img img {
  width: 43px;
}
.match-card.match-card-modify .small-seprator {
  background-image: url(https://digicrick.github.io/crickdigi/images/slash.png);
  background-size: 24px;
  width:80px;
  height: 80px;
  padding: 0 10px;
}
.match-card-fw .match-card-middle .small-seprator {
  position: static;
}
.match-card-fw .small-seprator {
  background-image: url(https://digicrick.github.io/crickdigi/images/slash.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  width:80px;
  height: 80px;
}
.small-seprator {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  top: 36px;
  font-size: 14px;
}
.match-card.match-card-modify .match-card-top .match-tournament-name {
  line-height: 16px;
}
.match-card-fw .match-card-top .match-tournament-name {
  font-size: 11px;
  color: #000;
  font-style: normal; 
  font-weight: 600;
}
.match-card-fw.match-card-up.match-card-modify .match-card-bottom .match-card-btn {
  background-color: #dc3545;
}
.match-card.match-card-modify .match-card-bottom .match-card-btn {
  font-size: 12px;
  background-position: 100px center;
  padding:5px 5px 5px 10px;;
  border-radius: 16px;
}
.event-card{
  background: linear-gradient(to right bottom, #fff 52%, #F0F9FB 48%);

}

@media (max-width: 940px) {
  .match-card.match-card-modify .match-card-top {
      padding: 0 0 10px 0;
      margin: 5px 10px 0;
  }
}

@media (max-width: 940px) {
  .match-card.match-card-fw .match-card-top {
      border-bottom: 1px solid #ccc;
      padding: 10px 10px 1rem;
      margin-bottom: 0.8rem;
  }
}

 

@media (max-width: 460px) {
  .match-card.match-card-modify {
      border-left-width: 6px;
  }
  
}
@media (max-width: 940px) {
  .match-card.match-card-modify {
      border-radius: 8px;
  }
}
@media (max-width: 940px) {
  .match-card.match-card-fw {
      flex-direction: row;
  }
  
}
@media (max-width: 940px) {
  .match-card.match-card-modify .match-card-bottom {
      flex-direction: row-reverse;
      align-items: center;
      padding: 10px 10px 5px;
  }
}
#match-live-card .match-card-top, .match-card-fw .match-card-top {
  flex-direction: row;
  justify-content: left;
}
.diagonal-shape1{
  position: absolute;
  left: 0;
  bottom: 0;
  /* z-index: -1; */
  opacity: .1;
}

@media (max-width: 900px) {
  .event-card .d-flex.flex-row.flex-wrap {
    justify-content: flex-start;
  }
  .event-card .d-flex.flex-row.flex-wrap .ms-3 {
    margin-left: 0 !important;
  }
}
.form-container {
  width: 100%;
  padding: 15px;
  background: white;
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.title{
  text-align: center;
  margin-bottom: 20px;
}
.form-title {
  /* text-align: center; */
  margin-bottom: 20px;
  /* text-decoration: underline #03a9f4; */
}
.form-inputs{
  width: 50%;
  align-items: center;
}
.form-control {
  text-align: center;
}
/* .event-card:hover{
  background: linear-gradient(to right bottom, #fff 52%, #133F7E 48%);
  transition: .5s;
} */
